anthropic
backoff
datasets
bitsandbytes==0.41.3.post2
deepspeed==0.15.1
einops
fuzzysearch
matplotlib
matplotlib-inline
numpy==1.26.4
openai>=1.51.0
pandas==1.5.3
peft==0.5.0
pydantic>=2.0.0
python-dotenv
pyyaml
PyYAML
Requests
rich
seaborn
sentence_transformers
sentencepiece==0.1.99
scipy
spacy
torch>=2.0.1
transformers==4.49.0
trl==0.9.2
wandb